@import url(https://fonts.googleapis.com/css?family=Montserrat:600,regular,700);

*,
*::after,
*::before {
  box-sizing : border-box;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color      : #bbb;
}

body {
  background-color: rgba(30, 39, 46, 1);
  display         : flex;
  justify-content : center;
  align-items     : center;
  min-height      : 100vh;
  overflow        : hidden;
}

.clock {
  width          : 300px;
  height         : 300px;
  border-radius  : 50%;
  position       : relative;
  background-size: cover;
  border-radius  : 50%;
  box-shadow     : 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05),
    0 15px 25px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);
  background-color: #1e272e;

  transition: all .3s ease;
}

.clock:hover {
  transform: scale(1.10);

  box-shadow: 0 0 40px rgba(230, 230, 255, 0.3),
    inset 0 -15px 15px rgba(255, 255, 255, 0.02),
    0 15px 25px rgba(0, 0, 0, 0.5),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);
  background-color: rgb(30, 40, 55);
}

.clock .number {
  --rotation: 0;
  position  : absolute;
  width     : 100%;
  height    : 100%;
  text-align: center;
  transform : rotate(var(--rotation));
  font-size : 1.5rem;
  padding   : 10px;
}

.reverse {
  --reverse: 0;
  transform: rotate(var(--reverse));
}


.clock .number1 {
  --rotation: 30deg;
}

.clock .number2 {
  --rotation: 60deg;
}

.clock .number3 {
  --rotation: 90deg;
}

.clock .number4 {
  --rotation: 120deg;
}

.clock .number5 {
  --rotation: 150deg;
}

.clock .number6 {
  --rotation: 180deg;
}

.clock .number7 {
  --rotation: 210deg;
}

.clock .number8 {
  --rotation: 240deg;
}

.clock .number9 {
  --rotation: 270deg;
}

.clock .number10 {
  --rotation: 300deg;
}

.clock .number11 {
  --rotation: 330deg;
}


/* reverse the upside down numbers */
.number1 div {
  --reverse: -30deg
}

.number2 div {
  --reverse: -60deg
}

.number3 div {
  --reverse: -90deg
}

.number4 div {
  --reverse: -120deg
}

.number5 div {
  --reverse: -150deg
}

.number6 div {
  --reverse: -180deg
}

.number7 div {
  --reverse: -210deg
}

.number8 div {
  --reverse: -240deg
}

.number9 div {
  --reverse: -270deg
}

.number10 div {
  --reverse: -300deg
}

.number11 div {
  --reverse: -330deg
}


.clock .hand {
  --rotation             : 0;
  position               : absolute;
  bottom                 : 50%;
  left                   : 50%;
  background-color       : #000;
  border-top-left-radius : 10px;
  border-top-right-radius: 10px;
  transform-origin       : bottom;
  z-index                : 10;
  transform              : translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
  content         : '';
  position        : absolute;
  background-color: #fff;
  z-index         : 11;
  width           : 15px;
  height          : 15px;
  top             : 50%;
  left            : 50%;
  transform       : translate(-50%, -50%);
  border-radius   : 50%;
}

.clock .hand.second {
  width           : 4px;
  height          : 35%;
  background-color: #fd79a8;
  transition      : all 1s linear;
}

.clock .hand.minute {
  width           : 7px;
  height          : 30%;
  background-color: #d2dae2;
  transition      : all 1s linear;
}

.clock .hand.hour {
  width           : 10px;
  height          : 25%;
  background-color: #f53b57;
  transition      : all 1s linear;
}